<div class="row">
    


    <div class="col outer-div margin">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Create brand</h5>
                <button class="btn btn-primary margin" (click)="showPositionDialogCreateCarBrand('top')">Add</button>
            </div>
        </div>
    </div>


  
</div>

<div class="row">

   

    <div class="col margin">
        <div class="card text-center margin" *ngFor="let carbrand of lodedBrand">
            <div class="card-header">
                {{carbrand.name}}
            </div>
            <div class="card-body">
                <img src="assets/test.jpg" alt="" class="resize">
                <h5 class="card-title">{{carbrand.landingPage}}</h5>
                <p class="card-text">{{carbrand.discription}}</p>
                <button class="btn btn-success margin" (click)="showPositionDialogUpdateCarBrand('top',carbrand.id,carbrand.name,carbrand.landingPage,carbrand.discription,carbrand.slug)">Edit</button>
                <button class="btn btn-danger margin" (click)="onDeleteCarBrand(carbrand.id)">Delete</button>
            </div>
        </div>
    </div>

    
</div>

<form (ngSubmit)="onCreatBrand()" [formGroup]="createCarBrand">
    <p-dialog header="Create car brand" [(visible)]="displayPositionCreateCarBrand" [position]="positionCreateCarBrand"
        [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

        <br>
        <div class="row">



            <div class="col" style="margin-top: 15px;">
                <span class="p-float-label">
                    <input type="text" id="inputtitle" pInputText name="name" formControlName="name" />
                    <label for="inputtitle">Name</label>
                </span>
            </div>
            <div class="col" style="margin-top: 15px;">
                <span class="p-float-label">
                    <input type="text" id="inputslug" pInputText name="slug" formControlName="slug" />
                    <label for="inputslug">slug</label>
                </span>
            </div>

        </div>

        <div class="row">
            <div class="col" style="margin-top: 25px;">
                <span class="p-float-label">
                    <input type="text" id="landingpage" pInputText name="landingpage" formControlName="landingpage" />
                    <label for="landingpage">landing page</label>
                </span>
            </div>
            <div class="col" style="margin-top: 25px;">
                <input #inputfilepage style="display: none;" type="file" (change)="onloadfileCreateCarBrand($event)"
                    accept="image/*">

                <button (click)="inputfilepage.click()" type="button" class="btn btn-success">Pick file</button>
                <span *ngIf="namefileCreateCarBrand"> || {{namefileCreateCarBrand}}</span>

            </div>
        </div>

        <div class="row">
            <div class="col" style="margin-top: 25px;">
                <span class="p-float-label">
                    <textarea inputId="textarea" style="max-height: 150px;
                    min-height: 150px;
                    max-width: 300px;
                    min-width: 300px;" pInputTextarea formControlName="description"></textarea>
                    <label for="textarea">Description</label>
                </span>
            </div>

        </div>

        <ng-template pTemplate="footer">
            <button pButton type="submit" class="p-button-text" label="Send" icon="pi pi-check"></button>

        </ng-template>

    </p-dialog>
</form>




<form (ngSubmit)="onUpdateCarBrand()" [formGroup]="updateCarBrand">
    <p-dialog header="Update car brand" [(visible)]="displayPositionUpdateCarBrand" [position]="positionUpdateCarBrand"
        [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

        <br>
        <div class="row">



            <div class="col" style="margin-top: 15px;">
                <span class="p-float-label">
                    <input type="text" id="inputtitle" pInputText name="name" formControlName="name" [ngModel]="name" />
                    <label for="inputtitle">Name</label>
                </span>
            </div>
            <div class="col" style="margin-top: 15px;">
                <span class="p-float-label">
                    <input type="text" id="inputslug" pInputText name="slug" formControlName="slug" [ngModel]="slug" />
                    <label for="inputslug">slug</label>
                </span>
            </div>

        </div>

        <div class="row">
            <div class="col" style="margin-top: 25px;">
                <span class="p-float-label">
                    <input type="text" id="landingpage" pInputText name="landingpage" formControlName="landingpage" [ngModel]="landingPage" />
                    <label for="landingpage">landing page</label>
                </span>
            </div>
            <div class="col" style="margin-top: 25px;">
                <input #inputfileUpdatebrand style="display: none;" type="file" (change)="onloadfileUpdateCarBrand($event)"
                    accept="image/*">

                <button (click)="inputfileUpdatebrand.click()" type="button" class="btn btn-success">Pick file</button>
                <span *ngIf="namefileUpdateCarBrand"> || {{namefileUpdateCarBrand}}</span>

            </div>
        </div>

        <div class="row">
            <div class="col" style="margin-top: 25px;">
                <span class="p-float-label">
                    <textarea inputId="textarea" style="max-height: 150px;
                    min-height: 150px;
                    max-width: 300px;
                    min-width: 300px;" pInputTextarea formControlName="description" [ngModel]="description"></textarea>
                    <label for="textarea">Description</label>
                </span>
            </div>

        </div>

        <ng-template pTemplate="footer">
            <button pButton type="submit" class="p-button-text" label="Send" icon="pi pi-check"></button>

        </ng-template>

    </p-dialog>
</form>


